@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body , #root{
 
  background: #181818;
}
main{
  width: 100%;
  padding: 1rem;
  /* gap: 1rem; */
}

main .left, 
main .right{
  height: 100%;
  flex-basis: 50%;

}


/* Hide both X and Y scrollbars but allow scroll */
.right::-webkit-scrollbar {
  display: none;
}
.right {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none;    /* Firefox */
}

.review-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 80px;
  margin: 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.review-btn:hover {
  background-color: #45a049;
}

